/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  font: 400 12px/1.4 sans-serif;
  font-family: $f1_lit;
  color: $c2;
  margin: 0;
  background: $w !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

a {
  // color: $b;
  text-decoration: none;
  :hover {
    color: $b;
  }
  :focus {
    outline: 0;
  }
  :hover,
  :active {
    outline: 0;
  }
}

input:focus {
  outline: 0;
  border: 1px solid $c2;
}

ol, ul {
  padding: 0;
}

select {
  width: 100%;
}

.featured-image {
  width: 100%;
  text-align: center;
  img {
    max-height: 500px;
  }
}

.center {
  text-align: center;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.m-b {
  margin-bottom: 2.0rem;
}
