/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  font: 400 12px/1.4 $font-body;
  color: $c-foreground;
  margin: 0;
  background: $c-white;
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 50px auto 1fr auto;
}

/* clear */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

a {
  // color: $c-black;
  text-decoration: none;
  :hover {
    color: $c-black;
  }
  :focus {
    outline: 0;
  }
  :hover,
  :active {
    outline: 0;
  }
}

input:focus {
  outline: 0;
  border: 1px solid $c-foreground;
}

ol,
ul {
  padding: 0;
}

select {
  width: 100%;
}

.featured-image {
  width: 100%;
  text-align: center;
  img {
    max-height: 500px;
  }
}

.center {
  text-align: center;
}

.vtop {
  display: inline-block;
  vertical-align: top;
  float: none;
}

.m-b {
  margin-bottom: 2rem;
}

code {
  font-size: 1rem;
}
