/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height:100%;
  min-height:100%;
}

body {
  font: 400 11px/1.4 sans-serif;
  font-family: $f1_lit;
  color: $c2;
  margin: 0;
  background: $w !important;
  height:100%;
  min-height:100%;
}
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

a {
  color: #444;
  text-decoration: none;
  :hover {
      color: #444;
  }
  :focus {
    outline: 0;
  }
  :hover,
  :active {
    outline: 0;
  }
}

input:focus {
  outline: 0;
  border: 1px solid $c2;
}

ol, ul {

}
select{
  width: 100%;
}

h1, h2, h3, h4, h5 {

}

/* ----------------------------------------------------------------------------
 * Site sections
 * ------------------------------------------------------------------------- */

div.aa_wrap {

}

.aa_navigation {
  .aa_nav {
    .menu ul {
      li {
        display: inline-block;
        padding: 0 0.25rem 0.25rem 0.50rem;
        background-color: #fff;
        -webkit-transition: background-color 1.2s;
        transition: background-color 1.2s;
        :hover {
          background-color: #000;
          color: #fff;
          font-weight: bold;
          text-decoration: none;
        }
        a {
          font-family: $f2_lit;
          text-transform: uppercase;
          font-size: 1.0rem;
          display: block;
          padding: 1.0rem;
        }
      }
    }
  }
}
.aa_footer {
  margin-top: 3.0rem;
  p {
    text-align: right;
      font-family: $f2_lit;
      font-size: 0.80rem;
      text-transform: uppercase;
  }
}

.aa_sidebar {
  margin: 3.0rem 0;
  vertical-align: top;
  aside {
    display: inline-block;
    min-width: 200px;
    form {

    }
    h1 {
      font-family: $f2_lit;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
    }
  }
}

.aa_content {
  .aa_content__title {
    font-family: $f1_lit;
    font-size: 3.0rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
    text-align: center;
    margin-bottom: 1.0em;
    small {
      display: block;
      font-family: $f2_lit;
      font-size: 1.0rem;
      letter-spacing: 0rem;
      text-transform: uppercase;
      padding-top: 1.0rem;
      color: #999;
      a {
        color: #999 !important;
      }
    }
  }
  .aa_content__content {
    font-family: $f4_lit;
    font-weight: 400;
    font-style: normal;
    font-size: 1.40rem;
    letter-spacing: .01rem;
    line-height: 1.5;
    word-wrap: break-word;

  }
}

// Pages
.aa_page {
  h1.entry-title {
    text-align: center;
  }
  .aa_content {

  }
}
.aa_article {

}

.aa_single {

}
