/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Fonts
 *
 * $font-body : "Ubuntu", "sans-serif"; //300
 *
 * ------------------------------------------------------------------------- */

$font-body: "Open Sans", sans-serif; // 300,800,600
$font-header: "Abel", sans-serif;
// $f3_lit: 'Merriweather', sans-serif;// 300
$font-post-content: "medium-content-serif-font", serif;
// $f5_lit: 'EM Garamond',serif;
$font-post-title: "Lato", serif; // 100,300,400,900
// $f7_lit: 'Open Sans Condensed',serif; // 300,700
// $f8_lit: 'Oswald',serif; // 300,400
// $f_corp: 'Corporate S',sans-serif;

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$c-background: #dedede;
$c-foreground: #292929;
$c-white: #eee;
$c-black: #444;
$c-greenb: #686868;
$c-green: #35ad68;
$c-yellow: #fffdd2;
$c-accent: #a32115;
$c-contrast: #ffff4d;
$c-nav-highlight: darken(red, 15%);
$c-nav-highlight-bg: lighten(black, 15%);
$c-nav-highlight-fg: white;
